{% load static %}
<hr style="color:black;">
<div style=" background-color: var(--color-bg); text-align: center; padding: 7px; margin-top: 10px;">
    <footer > 
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
            <div style="padding-left: 20px; text-align: right;"> 
                <img src="{% static 'images/mi.jpg' %}" alt="" style="display:inline; height: 60px; width: 15%; border-radius: 15px; margin-right: 0; align-content: right;;"></small>

            </div>
            <div style="text-align: left; padding-top: 20px; padding-left: 8px;">
                developed by <a href="#">Obuyinza Bwamukama</a>

            </div>
        </div><small></footer>
</div>